<div class="page-header">
  <h1>Class #<%= @class.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @class.name %></dd>

  <dt>Instructor name</dt>
  <dd><%= @class.instructor_name %></dd>

  <dt>Calendar</dt>
  <dd><%= @class.calendar_id %></dd>

  <dt>Department</dt>
  <dd><%= @class.department_id %></dd>

  <dt>Quarter</dt>
  <dd><%= @class.quarter_id %></dd>

  <dt>Section</dt>
  <dd><%= @class.section_id %></dd>

  <dt>Team size</dt>
  <dd><%= @class.team_size %></dd>

</dl>
